<section class="py-5 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">Crear un Autor</h1>
			<p class="lead text-muted">Crea y observa actores</p>
			<p>
				<a href="/autor/create-autor" class="btn btn-secondary my-2">Crear un nuevo Autor</a>
			</p>
		</div>
	</div>
</section>

{{#if hasAutor}}
<div class="album ">
	<div class="container">

		<div class="main container">
			<div class="row">
				<div class="row">

					{{#each autor as |aut|}}
					<input type="hidden" name="Id" value="{{aut.id}}" />
					<div class="col-md-6 mt-4">
						<div class="card bg-success text-light">

							<div class="card-body">

								<h4 class="card-title">{{aut.nombre}}</h4>
								<h5 class="card-title">Correo: {{aut.correo}}</h5>
								<h5 class="card-title">{{#if cantidad_libros}}Tiene: {{cantidad_libros}}
									libros{{else}}No tiene Libro{{/if}}</h5>
							</div>

							<hr>
							<form id="form-deleteA" class="form-inline" action="/autor/delete-autor" method="post">
								<a href="/autor/edit-autor/{{aut.id}}?edit=true"
									class="btn btn-primary p-3 m-3">Editar</a>
								<input type="hidden" name="Id" value="{{aut.id}}" />
								<button class="btn btn-outline-warning p-3 m-3 delete-autor">Eliminar</button>
							</form>



						</div>

					</div>
					{{/each}}
					{{else}}
					<h1>No hay Autor</h1>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>