<div class="row">
    <div class="col-md-6 offset-3 mt-5">
        <div class="card card-gris">
            <div class="card-header bg-dark text-white">
                {{#if editMode}}Edicion{{else}}Creacion{{/if}} de Editoriales
            </div>
            <div class="card-body">
                <form method="POST" action="{{#if editMode}}/editorial/edit-editorial{{else}}/editorial/create-editorial{{/if}}">
                    <div class="mb-3 label">
                        <label for="name" class="form-label text-white">Nombre</label>
                        <input type="text" class="form-control" id="name" name="nombre"
                            value="{{#if editMode}}{{editorial.nombre}}{{/if}}" required/>

                        <label for="telefono" class="form-label text-white">Telefono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono"
                        value="{{#if editMode}}{{editorial.telefono}}{{/if}}" required/>

                        <label for="pais" class="form-label text-white">Pais</label>
                        <input type="text" class="form-control" id="pais" name="pais"
                            value="{{#if editMode}}{{editorial.pais}}{{/if}}" required/>
                    </div>

                    {{#if editMode}}

                    <input type="hidden" name="Id" value="{{editorial.id}}">

                    {{/if}}
                    <a href="/editorial" class="btn btn-danger">Atras</a>
                    <button type="submit" class="btn btn-primary">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
                </form>

            </div>
        </div>
    </div>